assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
librerias/
.DS_Store
/codigo/backups
codigo/web/log.txt
/codigo/web/images/perfiles
